.addspace{
	margin: 30px
}

.CLfont {
font-family: "Champagne & Limousines", Georgia, Serif;
font-size: 50px;
margin: 1px;
}
.CLfont2{
	font-family: "Champagne & Limousines", Georgia, Serif;
    margin:1px;
    font-size: 24px;
}
body{
	background-color: rgb(35,79,50);
}
#white{
	background-color: white;
	width: 60%;
	margin: 0 auto;
	padding: 0px;
}

h2{
	margin: 30px;
	padding: 10px;
}
img.buttons{
	width:15%;
	height:15%;
}
/* Note these are centered, therefore reversed , add ID*/
img.MoveLeft{
	position: relative;
	left: 75px;
}
img.MoveRight{
	position: relative;
	right: 75px;
}
#test {
background-color: navy;
width: 100px;
height: 100px;


}

#test:hover{
background-color: red;

}